<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="{{ asset('build/app/images/logo.png') }}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ToDo&Co</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% if app.user.avatar is not null %}
                               {{ vich_uploader_asset(app.user, 'avatarFile')|imagine_filter('avatar_sidebar') }}
                          {% else %}
                               {{ asset('build/app/images/default-pp.png')|imagine_filter('avatar_sidebar') }}
                          {% endif %}
                    " class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ app.user.firstName~' '~app.user.lastName }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{{ path('app_dashboard') }}" class="nav-link {{ dashboardActiveClass ?? "" }}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            {{ 'Dashboard'|trans }}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('task_index') }}" class="nav-link {{ tasksActiveClass ?? '' }}">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            {{ 'My tasks'|trans }}
                        </p>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('user_index') }}" class="nav-link {{ usersActiveClass ?? '' }}">
                            <i class="nav-icon fas fa-user-alt-slash"></i>
                            <p>
                                {{ 'Users'|trans }}
                            </p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
