{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'My tasks'|trans }} {% endblock %}

{% block body %}
    <!-- Main Sidebar Container -->
    {{ include('layouts/partials/_sidebar.html.twig', {'tasksActiveclass': 'active'}) }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1> {{ 'User list'|trans }}</h1>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}"> {{ 'Dashboard'|trans }}</a></li>
                            <li class="breadcrumb-item active"> {{ 'My tasks'|trans }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <a href="{{ path('user_new') }}" type="button" class="btn btn-outline-primary btn-block">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;
                                    {{ 'Add a user'|trans }}</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="user-data-table" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Title'|trans }}</th>
                                        <th>{{ 'Status'|trans }}</th>
                                        <th>{{ 'Starts at'|trans }}</th>
                                        <th>{{ 'Ends at'|trans }}</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks %}
                                        <tr>
                                            <td>{{ task.title }}</td>
                                            <td>{{ task.status }}</td>
                                            <td>{{ task.startAt|format_datetime('medium', 'short') }}</td>
                                            <td>{{ task.endAt|format_datetime('medium', 'short') }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('task_edit', {'slug': task.slug}) }}" class="btn btn-outline-secondary">
                                                    <i class="fas fa-eye"></i>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-edit"></i>
                                                </a>
                                                <button onclick="deleteConfirmation();" class="btn btn-outline-danger">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>{{ 'Title'|trans }}</th>
                                        <th>{{ 'Status'|trans }}</th>
                                        <th>{{ 'Starts at'|trans }}</th>
                                        <th>{{ 'Ends at'|trans }}</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <script src=""></script>

    {% block script %}
        {{ encore_entry_script_tags('userDataTable') }}
    {% endblock %}

{% endblock %}
